.App {
  text-align: center;
}

.value{
  display: table;
}


* {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: whitesmoke;
}

table {
  border: solid 1px #DDEEEE;
  margin: 0 auto
}

table tr:nth-child(odd){
  background-color:#666;
}
